<div class="site-footer">
  <div class="container">
    <div class="site-footer__primary">
      <h3>Shine Your Eye</h3>
      <p>Shine your Eye is an initiative of <a href="https://eie.ng" target="_blank" title="EiE Nigeria">Enough is Enough Nigeria (EiENigeria)</a>  with support from <a href="https://www.placng.org/" target="_blank" title="PLAC NG">Policy and Legal Advocacy Center</a>. <a href="/info/about">Read more.</a></p>
      <ul class="list-inline">
        <li><a href="mailto:<%= settings.contact_email %>"><%= settings.contact_email %></a></li>
        <li><a href="https://twitter.com/<%= settings.twitter_user %>">@<%= settings.twitter_user %></a></li>
      </ul>
    </div>
    <div class="site-footer__secondary">
      <ul class="list-inline">
        <li><a class="btn btn-primary" href="/search/">Find your Representative</a></li>
        <li><a class="btn btn-default" href="/blog/">Latest News</a></li>
        <li><a class="btn btn-default" href="/info/democracy-resources">Democractic Resources</a></li>
        <li><a class="btn btn-default" href="/info/elections">Elections</a></li>
        <li><a class="btn btn-default" href="/events/">Events</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/multipurpose-search.js"></script>
<script>
  (function() {
    var cx = '009849292720701569670:dnm2ccnvkai';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<%= yield_content :footer_extra_js %>
