<ul class="people-list">
  <% people.each do |person| %>
    <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="<%= person.slug %>">
      <div class="people-list__item people-list__item--people">
          <div class="media">
            <div class="media-left">
              <a href="<%= person.url %>">
                <% if person.thumbnail_image_url %>
                  <img class="people-list__item__photo" src="<%= person.thumbnail_image_url %>" srcset="<%= person.thumbnail_image_url %>" alt="<%= person.name %>">
                <% else %>
                  <img class="people-list__item__photo" src="/images/person-250x250.png" srcset="/images/person-250x250.png" alt="<%= person.name %>">
                <% end %>
              </a>
            </div>
            <div class="media-body">
              <a href="<%= person.url %>">
                  <h3 class="people-list__item__name"><%= person.official_name %></h3>
              </a>
              <p>
                <% if person.area %>
                  <span class="test-position"><%= person.position %></span>
                  <a class="people-list__item__area test-area" href="<%= person.area.url %>"><%= person.area.name %></a>
                <% else %>
                  <span class="test-position"><%= person.position %></span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
    </li>
  <% end %>
</ul>