<div class="page-section homepage__hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 homepage__hero__secondary">
        <img src="/static/images/mz-nigeria-logo-symbol.png">
      </div>
      <div class="col-sm-7 homepage__hero__primary">
        <h1><strong>Shine Your Eye</strong> is an SMS and web platform that facilitates engagement with National Assembly members and other elected officials.</h1>
        <a class="btn btn-primary" href="/search/">
          Find your Representative
        </a>
      </div>
    </div>
  </div>
</div>


<div class="page-section homepage__reps">
  <div class="container">
    <h2>Find more information about your government representatives</h2>
    <div class="row">
      <% @page.featured_people.each do |page_fragment| %>
        <% if page_fragment.featured_person %>
        <div class="col-sm-4 homepage__reps__rep">
            <a href="<%= page_fragment.featured_person.url %>">
                <img src="<%= page_fragment.featured_person.medium_image_url %>">
            </a>
            <p>
                <strong><%= page_fragment.featured_person.name %></strong>,
                <%= page_fragment.featured_person.party_name %>,
                <%= page_fragment.featured_person.area.name if page_fragment.featured_person.area %>
            </p>
            <a class="btn btn-default" href="<%= page_fragment.people_type_url %>">
                <strong><%= page_fragment.people_type_display_text %></strong>
            </a>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-<% if @page.featured_events.empty? %>12<% else %>8<% end %>">
        <% unless @page.featured_posts.empty? %>
          <h2><a href="/blog/">News</a></h2>
          <div class="row">
            <% @page.featured_posts.each do |post| %>
              <div class="col-sm-6">
                <a href="<%= post.url %>"><h3><%= post.title %></h3></a>
                <p><%= @page.format_date(post.date) %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% unless @page.featured_events.empty? %>
        <div class="col-sm-4">
          <h2><a href="/events/">Events</a></h2>
          <% @page.featured_events.each do |event| %>
            <a href="<%= event.url %>"><h3><%= event.title %></h3></a>
            <p><%= @page.format_date(event.date) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="page-section homepage__quote">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-5 col-lg-push-1">
          <h1>Quote of the Week</h1>
      </div>
      <div class="col-sm-6 col-lg-5 col-lg-push-1 homepage__quote_text">
        <%= @page.quote.body %>
      </div>
    </div>
  </div>
</div>


<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <iframe style="width: 100%; height: 315px; margin-bottom: 1em;" src="https://www.youtube.com/embed/NDSIJfYWgko" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <div style="text-align: center; margin-bottom: 1em;">
            <a class="btn btn-default" href="https://twitter.com/<%= settings.twitter_user %>">Shine Your Eye on Twitter</a>
        </div>
        <a style="color: white !important;" class="twitter-timeline"  href="https://twitter.com/<%= settings.twitter_user %>" data-widget-id="661503293731000320" data-width="600" data-height="400" data-chrome="nofooter noborders noheader transparent">Tweets by @<%= settings.twitter_user %></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
