<div class="page-section homepage__hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 homepage__hero__secondary">
        <img src="/static/images/mz-nigeria-logo-symbol.png">
      </div>
      <div class="col-sm-7 homepage__hero__primary">
        <h1><strong>Shine Your Eye</strong> is an SMS and web platform that facilitates engagement with National Assembly members and other elected officials.</h1>
        <a class="btn btn-primary" href="/search/">
          Find your Representative
        </a>
      </div>
    </div>
  </div>
</div>


<div class="page-section homepage__reps">
  <div class="container">
    <h2>Find more information about your government representatives</h2>
    <div class="row">
      <% @page.featured_people.each do |page_fragment| %>
        <% if page_fragment.featured_person %>
        <div class="col-sm-4 homepage__reps__rep">
            <a href="<%= page_fragment.featured_person.url %>">
                <img src="<%= page_fragment.featured_person.medium_image_url %>">
            </a>
            <p>
                <strong><%= page_fragment.featured_person.name %></strong>,
                <%= page_fragment.featured_person.party_name %>,
                <%= page_fragment.featured_person.area.name if page_fragment.featured_person.area %>
            </p>
            <a class="btn btn-default" href="<%= page_fragment.people_type_url %>">
                <strong><%= page_fragment.people_type_display_text %></strong>
            </a>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <% unless @page.featured_posts.empty? %>
          <h2><a href="/blog/">News</a></h2>
          <% @page.featured_posts.each do |post| %>
            <a href="<%= post.url %>"><h3><%= post.title %></h3></a>
            <p><%= @page.format_date(post.date) %></p>
          <% end %>
        <% end %>
        <% unless @page.featured_events.empty? %>
          <h2><a href="/events/">Events</a></h2>
          <% @page.featured_events.each do |event| %>
            <a href="<%= event.url %>"><h3><%= event.title %></h3></a>
            <p><%= @page.format_date(event.date) %></p>
          <% end %>
        <% end %>
        <h2 style="margin-top: 1.2em"><a href="https://www.youtube.com/watch?v=NDSIJfYWgko">How it works</a></h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/NDSIJfYWgko" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6">
        <h2><a href="https://twitter.com/<%= settings.twitter_user %>">Twitter</a></h2>
        <a class="twitter-timeline"  href="https://twitter.com/<%= settings.twitter_user %>" data-widget-id="661503293731000320" data-width="600" data-height="600" data-chrome="nofooter noborders noheader transparent">Tweets by @<%= settings.twitter_user %></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
