<div class="page-section homepage__hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 homepage__hero__secondary">
        <img src="/static/images/mz-nigeria-logo-symbol.png">
      </div>
      <div class="col-sm-7 homepage__hero__primary">
        <h1><b>Shine Your Eye</b> is an SMS and web platform that facilitates engagement with National Assembly members and other elected officials.</h1>
        <a class="btn btn-primary" href="/search/">
          Find your Representative
        </a>
      </div>
    </div>
  </div>
</div>


<div class="page-section homepage__reps">
  <div class="container">
    <h2>Find more information about your government representatives</h2>
    <div class="row">
      <div class="col-sm-4 homepage__reps__rep">
        <a href="">
          <img src="http://www.shineyoureye.org/media_root/cache/fa/18/fa18778ccb20510ac887c07750e47fa3.jpg">
        </a>
        <p>
            <strong>Nasir El-Rufai,</strong>
            APC, Kaduna
        </p>
        <a class="btn btn-default" href=""><b>Governors</b></a>
      </div>
      <div class="col-sm-4 homepage__reps__rep">
        <a href="/person/76d38ffb-0b7e-4b3e-b5a6-92eed438c4c8/">
          <img src="http://www.shineyoureye.org/media_root/images/1014158160editor_Chris_Anyanwu.jpg">
        </a>
        <p>
            <strong>Anyanwu Chris N. D,</strong>
            APC, Abuja
        </p>
        <a class="btn btn-default" href="/position/senator/"><b>Senators</b></a>
      </div>
      <div class="col-sm-4 homepage__reps__rep">
        <a href="/person/ed60d392-ebe6-49f6-8174-10eb29dbb216/">
          <img src="http://www.shineyoureye.org/media_root/cache/7a/bb/7abb1cb47babe064deba452e976dc6cc.jpg">
        </a>
        <p>
            <strong>Lawali Hassan,</strong>
            APC, Zamfara
        </p>
        <a class="btn btn-default" href="/position/representative/"><b>Representatives</b></a>
      </div>
    </div>
  </div>
</div>


<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2><a href="/blog/">News</a></h2>
        <% unless @page.featured_posts.empty? %>
          <% @page.featured_posts.each do |post| %>
            <a href="<%= post.url %>"><h3><%= post.title %></h3></a>
            <p><%= @page.format_date(post.date) %></p>
          <% end %>
        <% else %>
          <p>There are no blog posts.</p>
        <% end %>
      </div>
      <div class="col-sm-6">
        <h2><a href="/info/events">Events</a></h2>
        <% unless @page.featured_events.empty? %>
          <% @page.featured_events.each do |event| %>
            <a href="<%= event.url %>"><h3><%= event.title %></h3></a>
            <p><%= @page.format_date(event.date) %></p>
          <% end %>
        <% else %>
          <p>There are no upcoming events.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="page-section homepage__quote">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-5 col-lg-push-1">
          <h1>Quote of the Week</h1>
      </div>
      <div class="col-sm-6 col-lg-5 col-lg-push-1">
          <p>
              <em>”Followers who tell the truth and leaders who listen to it, are an unbeatable combination.”</em>
              <strong style="display: block;">- Warren Bennis</strong>
          </p>
      </div>
    </div>
  </div>
</div>


<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <iframe style="width: 100%; height: 315px; margin-bottom: 1em;" src="https://www.youtube.com/embed/NDSIJfYWgko" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <div style="text-align: center; margin-bottom: 1em;">
            <a class="btn btn-default" href="https://twitter.com/NGShineYourEye">Shine Your Eye on Twitter</a>
        </div>
        <a style="color: white !important;" class="twitter-timeline"  href="https://twitter.com/NGShineYourEye" data-widget-id="661503293731000320" width="600px" data-chrome="nofooter noborders noheader noscrollbar transparent"  data-tweet-limit="3">Tweets by @NGShineYourEye</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
