<div class="page-section homepage__hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 homepage__hero__secondary">
        <img src="/static/images/mz-nigeria-logo-symbol.png">
      </div>
      <div class="col-sm-7 homepage__hero__primary">
        <h1><strong>Shine Your Eye</strong> is an SMS and web platform that facilitates engagement with National Assembly members and other elected officials.</h1>
        <form class="homepage__hero__search js-multipurpose-search" action="https://sye-pu-lookup-frontend.herokuapp.com/lookup" method="post">
          <label for="site-search">
            <strong>Find your representative</strong>
            <span class="js-multipurpose-search-label">Enter your Polling Unit (PU) number</span>
          </label>
          <span class="input-group input-group-lg">
            <input name="pu-number" id="site-search" type="search" class="form-control" placeholder="e.g. 1:1:1">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search" aria-label="Search"></i></button>
            </span>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="page-section homepage__reps">
  <div class="container">
    <h2>Find more information about your government representatives</h2>
    <div class="row">
      <div id="lightSlider">
        <% @page.government_representative_types.each do |type| %>
          <div>
            <div class="col-sm-12">
              <div class="js-show-random-child">
              <% type.people.each_with_index do |person, i| %>
                <div class="homepage__reps__rep <%= 'hidden' unless i == 0 %>">
                  <a href="<%= person.url %>">
                      <img <% if i == 0 %>src<% else %>data-src<% end %>="<%= person.medium_image_url %>">
                  </a>
                  <p>
                    <strong><%= person.name.strip %></strong><br>
                    <%= person.constituency || person.party_name %>,
                    <%= person.area.name if person.area %>
                    <%= 'LGA' if person.constituency %>
                  </p>
                </div>
              <% end %>
              </div>
              <a class="btn btn-default" href="<%= type.link_url %>">
                  <strong><%= type.link_text %></strong>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <% unless @page.featured_posts.empty? %>
          <h2><a href="/blog/">News</a></h2>
          <% @page.featured_posts.each do |post| %>
            <a href="<%= post.url %>"><h3><%= post.title %></h3></a>
            <p><%= @page.format_date(post.date) %></p>
          <% end %>
        <% end %>
        <% unless @page.featured_events.empty? %>
          <h2><a href="/events/">Events</a></h2>
          <% @page.featured_events.each do |event| %>
            <a href="<%= event.url %>"><h3><%= event.title %></h3></a>
            <p><%= @page.format_date(event.date) %></p>
          <% end %>
        <% end %>
        <h2 style="margin-top: 1.2em"><a href="https://www.youtube.com/watch?v=NDSIJfYWgko">How it works</a></h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/NDSIJfYWgko" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6">
        <h2><a href="https://twitter.com/<%= settings.twitter_user %>">Twitter</a></h2>
        <a class="twitter-timeline"  href="https://twitter.com/<%= settings.twitter_user %>" data-widget-id="661503293731000320" data-width="600" data-height="600" data-chrome="nofooter noborders noheader transparent">Tweets by @<%= settings.twitter_user %></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>

<% content_for :footer_extra_js do %>
  <script src="/javascripts/show-random-child.js"></script>
  <script type="text/javascript">
  $(function() {
      const slider = $("#lightSlider").lightSlider();
      slider;
    });
  </script>  
<% end %>
