<!DOCTYPE html>
<html>

  <%= erb :_head %>

  <body>
    <!-- {% if jekyll.environment == 'production' %}
      {% google_analytics %}
    {% endif %}

    {% facebook_javascript_sdk %} -->


    <%= erb :_main_menu %>

    <% if is_homepage? %>

      <%= yield %>

    <% else %>

      <%= erb :_header %>

      <%= erb :_breadcrumbs %>

      <div id="page">
        <div class="page-wrapper wrapper">
          <%= yield %>
          <br clear="both">
        </div>
      </div>

    <% end %>

    <%= erb :_footer %>

  </body>
</html>
