<!DOCTYPE html>
<html>

  <%= erb :_head %>

  <body class="<% if homepage? %>page--homepage<% end %>">

    <%= erb :_main_menu %>

    <%= erb :_header %>

    <div id="page">

      <% if homepage? %>
        <%= yield %>

      <% else %>
        <!-- {% include breadcrumbs.html %} -->
        <div class="page-section">
          <div class="container">
             <%= yield %>
          </div>
        </div>

      <% end %>

    </div>

    <%= erb :_footer %>

  </body>
</html>
