<!DOCTYPE html>
<html>

  <%= erb :_head %>

  <body class="<% if is_homepage? %>page--homepage<% end %>">
    <!-- {% if jekyll.environment == 'production' %}
      {% google_analytics %}
    {% endif %}

    {% facebook_javascript_sdk %} -->

    <%= erb :_main_menu %>

    <%= erb :_header %>

    <div id="page">

      <% if is_homepage? %>
        <%= yield %>

      <% else %>
        <!-- {% include breadcrumbs.html %} -->
        <div class="container">
          <%= yield %>
        </div>

      <% end %>

    </div>

    <%= erb :_footer %>

  </body>
</html>
