<div class="row">
    <div class="col-sm-4 col-md-3">
      <% if @page.person.medium_image_url %>
        <img class="person__image" src="<%= @page.person.medium_image_url %>" alt="<%= @page.person.name %>">
      <% else %>
        <img class="person__image" src="/images/person-250x250.png" alt="<%= @page.person.name %>">
      <% end %>
      <%= erb :_social %>
    </div>

    <div class="col-sm-8 col-md-9">
        <header class="person__key-info">

            <h2><%= @page.position %></h2>
            <h1 class="person__name"><%= @page.person.name %></h1>

          <% if @page.person.area %>
            <h2><%= @page.person.area.type_name %></h2>
            <p class="person__area"><a href="<%= @page.person.area.url %>"><%= @page.person.area.name %></a></p>
          <% end %>

            <h2>Party</h2>
            <p class="person__party"><%= @page.person.party_name %></p>

          <% if @page.person.birth_date %>
            <h2>Birth date</h2>
            <p class="person__birthdate"><%= @page.person.birth_date %></p>
          <% end %>

          <% if @page.person.phone %>
            <h2>Phone</h2>
            <p class="person__phone"><%= @page.person.phone %></p>
          <% end %>

          <% if @page.person.twitter %>
            <h2>Twitter</h2>
            <p class="person__twitter"><a href="<%= @page.person.twitter_url %>"><%= @page.person.twitter_display %></a></p>
          <% end %>

          <% if @page.person.facebook %>
            <h2>Facebook</h2>
            <p class="person__facebook"><a href="<%= @page.person.facebook_url %>"><%= @page.person.facebook_display %></a></p>
          <% end %>

          <% if @page.person.email %>
            <h2>Email</h2>
            <p class="person__email"><%= @page.person.email %></p>
          <% end %>

          <% if @page.person.wikipedia_url %>
            <h2>Wikipedia</h2>
            <p class="person__wikipedia"><a href="<%= @page.person.wikipedia_url %>"><%= @page.person.wikipedia_url %></a></p>
          <% end %>

        </header>

        <section class="person__section">
            <h2>Summary
                <!-- <a class="person-edit-link" href="http://prose.io/#theyworkforyou/shineyoureye-prose/edit/gh-pages/summaries/<%= @page.person.id %>.md">Edit</a> -->
            </h2>
            <div class="person-summary">
              <%= @page.summary %>
            </div>
        </section>

        <section class="person__section">
          <%= erb :_comments %>
        </section>
    </div>
</div>
