<div class="row">
    <div class="col-sm-4 col-md-3">
      <% if @page.person.image %>
        <img class="person__image" src="<%= @page.person.medium_image_url %>" alt="<%= @page.person.name %>">
      <% else %>
        <img class="person__image" src="/images/person-250x250.png" alt="<%= @page.person.name %>">
      <% end %>
      <%= erb :_social %>
    </div>

    <div class="col-sm-8 col-md-9">
        <header class="person__key-info">
            <h2><%= @page.position %></h2>
            <h1 class="person__name"><%= @page.person.name %></h1>
          <% if @page.person.area %>
            <h2>Constituency</h2>
            <p class="person__area"><a href="<%= @page.person.area.url %>"><%= @page.person.area.name %></a></p>
          <% end %>
            <h2>Party</h2>
            <p class="person__party"><a href="<%= @page.person.party_url %>"><%= @page.person.party_name %></a></p>
          <% if @page.email %>
            <h2>Email</h2>
            <p><a href="mailto:<%= @page.email %>"><%= @page.email %></a></p>
          <% end %>

          <% if @page.wikipedia_url %>
            <h2>Wikipedia</h2>
            <p><a href="<%= @page.wikipedia_url %>"><%= @page.wikipedia_url %></a></p>
          <% end %>

        </header>

        <section class="person__section">
            <h2>Summary
                <a class="person-edit-link" href="http://prose.io/#theyworkforyou/shineyoureye-prose/edit/gh-pages/summaries/<%= @page.person.id %>.md">Edit</a>
            </h2>
            <div class="person-summary">
              <%= @page.summary %>
            </div>
        </section>

      <% if @page.executive_positions.size > 0 %>
        <section class="person__section">
            <h2>Experience</h2>
            <ul class="unstyled-list">
              <% @page.executive_positions.each do |position| %>
              <li>
                <a href="<%= position.executive_positions_by_role.url %>" class="experience__item">
                  <%= 'include person_experience_item.html item=position' %>
                </a>
              </li>
              <% end %>
            </ul>
        </section>
      <% end %>

      <% if @page.job_history.size > 0 %>
        <section class="person__section">
            <h2>Job history</h2>
            <ul class="unstyled-list">
              <% @page.job_history.each do |job| %>
              <li class="experience__item">
                <%= 'include person_experience_item.html item=job' %>
              </li>
              <% end %>
            </ul>
        </section>
      <% end %>

      <% if @page.education.size > 0 %>
        <section class="person__section">
            <h2>Education</h2>
            <ul class="unstyled-list">
              <% @page.education.each do |education| %>
              <li>
                <%= 'include person_experience_item.html item=education' %>
              </li>
              <% end %>
            </ul>
        </section>
      <% end %>

        <section class="person__section">
          <%= erb :_comments %>
        </section>

    </div>
</div>
