<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="person__image">
            <div id="map-canvas"></div>
        </div>

        <%= erb :_social %>
    </div>

    <div class="col-sm-8 col-md-9">
        <header class="person__key-info">
          <h1 class="person__name"><%= @page.title %></h1>
          <h2><%= @page.place.type_name %> <%= @page.legislature_name %></h2>
        </header>

        <section class="person__section">
            <h2>People</h2>
            <%= erb :_list_of_people, :locals => {:people => @page.people} %>
        </section>

        <section class="person__section">
            <h2>Comments</h2>
            <%= erb :_comments %>
        </section>
    </div>
</div>

<% content_for :footer_extra_js do %>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="/javascripts/show-map.js"></script>
    <script>LeafletMap.showMap(<%= @page.center %>, <%= @page.geojson %>);</script>
<% end %>
