<h1 class="page-title"><%= @page.title %></h1>

<div class="content_box">
    <h3>Current Position Holders</h3>

    <ul class="media-list">
      <% @page.all.each do |person| %>
        <li class="media">
            <div class="media-left">
                <a href="<%= person.url %>">
                  <% if person.proxy_image %>
                    <img class="media-object" src="<%= person.proxy_image %>" srcset="<%= person.proxy_image %>" alt="<%= person.name %>">
                  <% end %>
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="<%= person.url %>"><%= person.name %></a></h4>
                <p>
                  <% if person.area %>
                  Constituency: <a class="listing__area" href="<%= person.area.url %>"><%= person.area.name %></a> |
                  <% end %>
                  Party: <a class="listing__party" href="<%= person.party_url %>"><%= person.party_name %></a>
                </p>
                <div class="read-more-wrap">
                    <a href="<%= person.url %>" class="read-more">read more</a>
                </div>
            </div>
        </li>
      <% end %>
    </ul>
</div>
